body, form fieldset{
	width:960px;
	margin:0 auto;
	border:0;
	padding:0;	
}
/*light reset*/
h1{
	display:block;
	font:2em helvetica;
	background-color:#FFAA00;
} 
form fieldset{
	background-color:#FDFAF3;
	margin:0;
	padding:0px;
	border:2px solid #F7E5CC;
	border-top:2px solid #F7E9CC;
	width:956px;
}
#word_container,#search_container{
	display:block;
	width:460px;
}
div #words,div #keywords,div #searchin{s
	margin:5px 20px;
	border:2px solid #EAEAEA;
}
div{
	width:440px;
	margin:10px;
	overflow:hidden;
}
div label{
	font:12px helvetica;
	padding:5px;
}
#submit:active{
	background-color:#FFAA00;
}	
#submit{
	width:120px;
	height:30px;
	background-color:#EAEAEA;
	display:block;
	margin:0 auto;
}
div #name:hover,div #email:hover,div #feedback:hover{ 
	font:fff;
	background-color:#EAEAEA;
}	
div #name:focus,div #email:focus,div #feedback:focus{
	font:fff;
	background-color:#EAEAEA;
}	
#name,#email,#submit{
	width:149px;
	border:3px solid #DFEFFF;
}
#submit{
	text-align:center;
}
div input,div textarea{
	float:right;
}
#container-inner,#container{
	width:960px;
	margin:0;
}
