/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

																					/* reset ends here*/
body{
	margin:0 auto;
	width:960px;
	}

#nav{
	float:right;
	width:480px ;
}
#nav li{
	width:120px;
	float:left;
	text-align:center;
	}
h1{
	float:left;
	font:100px helvetica;
}
#see_also{
	float:right;
	width:460px ;
}
#see_also li{
	width:172px;
	float:left;
	}
p{
	clear:both;
	}
h3{
	clear:both;
	margin:320px 320px 0 ;
	text-align:right;
	}
h2,h3{
	font-family: 'Donegal One', serif;
	}
#gallery{
	clear:right;
	width:960px;
	float:left;
	}
#gallery li{
	float:left;
	width:320px;
	}
#column_two,#column_four{
	float:right;
	width:460px ;
	clear:right;
}
#column_one,column_three,#column_three p{
	clear:left;
	width:460px;
	float:left;
	}
#column_one,column_three,#column_three p,#column_two,#column_four{
	padding:5px;
}